rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /shares/{shareId} {
      allow create: if request.auth != null;
      allow read:   if true;
      allow delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
      allow update: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
